
@import 'bootstrap/dist/css/bootstrap';

/* Modify the backgorund color */ 
.navbar_custom {
    background-color:lightblue;
}

#logo {
    float:left;
    font-size:1.7em;
    //color:white;
    text-transform:uppercase;
    letter-spacing: -1px;
    font-weight:bold;
}

#logo:hover {
    color:white;
    text-decoration: underline dotted red;
}

.center {
    margin-top:20px;
    text-align:center;
}

.jumbotron {
    background-image: asset-url('yosemite.png');
    background-size: cover;
    height:800px;
}

.jumbotron h1 {
    margin-top: -20px;
    color:white;
    text-align: center;
    margin-bottom:30px;
    letter-spacing: -1px;
}

.footer {
    border-top: 1px solid #eaeaea;
    color: #777;
}

.footer small {
    float: left;
}

.footer ul {
    float: right;
    list-style: none;
}

.footer a:hover {
    color: red;
}

.footer ul li {
    float: left;
    margin-left: 15px;
}


